<!DOCTYPE html>
<html>
<head>
<title>Billing</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h2>Billing</h2>

<form method="POST">
<lable>Name</lable>
<select name="patient">

{% for p in patients %}

<option value="{{p[0]}}">{{p[1]}}</option>

{% endfor %}

</select><br>

<lable>Service Name</lable><input type="text" name="service" placeholder="Service"><br>

<lable>Amount</lable><input type="number" name="amount" placeholder="Amount"><br>

<button>Create Bill</button>

</form>

</body>
</html>
